.GraphTab {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.GraphTab__menuBack {
    background-color: rgb(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.GraphTab__menu {
    background-color: #222;
    height: 80%;
    width: 90%;
    border-radius: 16px;
    border: 1px solid #444;
    margin-top: 10%;
    padding: 16px;
}
.GraphTab__menu-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative;
    height: fit-content;
}
.GraphTab__menu-containerItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.GraphTab__menu-title {
    height: min-content;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: "bold";
}
.GraphTab__menu-form {
    height: fit-content;
    margin-top: 16px;
    width: 100%;
}
.GraphTab__menu-label {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff3f81;
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    white-space: nowrap;
}
.GraphTab__menu-input {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 8px;
    margin-left: 48px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    height: 20px;
    width: 100%;
}
.GraphTab__menu-input:focus {
    outline: none;
    border: 1px solid #ff3f81;
}
.GraphTab__menu-input:hover {
    border: 1px solid #ff3f81;
}
.GraphTab__menu-button {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
}
.GraphTab__menu-button:hover {
    background-color: #222;
    border: 2px solid #444;
    color: #ff3f81;
}
.GraphTab__menu_logoContainer {
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    cursor: pointer;
}
.GraphTab__menu_logo {
    width: auto;
    height: 32px;
}
