.LinkDropDown {
    width: 95%;
}

.LinkDropDown__header-down {
    background-color: #333;
    border: 2px solid #ff3f81;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    height: 32px;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff3f81;
    font-weight: 600;
    font-size: large;
}
.LinkDropDown__header-up {
    background-color: #333;
    border: 2px solid #555;
    border-radius: 8px;
    height: 32px;
    width: 98%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: large;
}
.LinkDropDown__header-up:hover {
    border: 2px solid #ff3f81;
}

.LinkDropDown__body {
    height: fit-content;
    width: 98%;
    border: 2px solid #ff3f81;
    border-top: 0px solid #ff3f81;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 8px;
}
.LinkDropDown__body-ul {
    padding: 8px;
}
.LinkDropDown__body-ul-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #ff3f81;
    text-align: left;
}
.LinkDropDown__body-ul-text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
    padding-right: 8px;
}
.LinkDropDown__body-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
