.LandingPage {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

iframe {
    pointer-events: none;
}

.LandingPage__authBox {
    width: 418px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    border: 1px solid #444;
    background-color: #181b1fe7;
}
.LandingPage__authBox-header {
    width: 100%;
    height: 52px;
    padding-left: 16;
    font-size: 16px;
    font-family: "Inter custom", sans-serif;
    display: flex;
    align-items: center;
    color: white;
}
.LandingPage__authBox-wallets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
