.root {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.graph_info {
    background-color: #222;
    width: 300px;
    height: 380px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 3px #000000;
    position: absolute;
    align-self: flex-end;
    left: 16px;
    bottom: 16px;
    overflow-y: scroll;
}

.graph_info::-webkit-scrollbar {
    width: 0.3em;
}

.graph_info::-webkit-scrollbar-track {
    box-shadow: "inset 0 0 6px #000";
}

.graph_info::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
}

.graph_title {
    height: min-content;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    font-size: 32px;
    font-weight: "bold";
}
.tab_div {
    position: absolute;
    width: 30%;
}
.drop_down_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.graph_address {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 300px;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 3px #000000;
}
.graph_address__text {
    display: flex;
    color: white;
    justify-content: center;
    padding: 3px;
    height: fit-content;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.graph_address__goBack {
    display: flex;
    color: white;
    justify-content: center;
    padding: 3px;
    height: fit-content;
    width: fit-content;
    border: 1px solid#ffffff;
    border-radius: 8px;
    padding: 6px;
    background-color: #444;
    font-family: Arial, Helvetica, sans-serif;
}

.graph_address__goBack:hover {
    background-color: #222;
    color: #ff3f81;
    cursor: pointer;
}

iframe {
    pointer-events: none;
}
