.MainPage {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

iframe {
    pointer-events: none;
}

.MainPage__GraphAddress {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 300px;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 3px #000000;
}
.MainPage__GraphAddress-text {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
    text-align: center;
}
.MainPage__GraphAddress-goBack {
    display: flex;
    color: white;
    justify-content: center;
    align-self: center;
    height: fit-content;
    width: fit-content;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 8px;
    cursor: pointer;
    margin: 3px;
}
.MainPage__GraphAddress-goBack:hover {
    background-color: #222;
    border: 2px solid #444;
    color: #ff3f81;
}

.MainPage__GraphInfo {
    background-color: #222;
    width: 300px;
    height: 380px;
    border: 1px solid #444;
    border-radius: 8px;
    box-shadow: 2px 2px 15px 3px #000000;
    position: absolute;
    align-self: flex-end;
    left: 16px;
    bottom: 16px;
    overflow-y: scroll;
}
.MainPage__GraphInfo-title {
    height: min-content;
    width: fit-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    font-size: 32px;
    font-weight: "bold";
}
.MainPage__GraphInfo-dropDowns {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.MainPage__GraphInfo::-webkit-scrollbar {
    width: 0.3em;
}
.MainPage__GraphInfo::-webkit-scrollbar-track {
    box-shadow: "inset 0 0 6px #000";
}
.MainPage__GraphInfo::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
}

.MainPage__tab {
    position: absolute;
    width: 30%;
    height: 100%;
}

.MainPage__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
