.header__header {
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header__logo-container {
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 100%;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
.header__logo {
    width: auto;
    height: 64px;
}
