.connect-wallet {
    background-color: #2c2f36;
    font-family: "Inter custom", sans-serif;
    color: white;
    width: 386px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    border: 0.1px solid rgba(255, 255, 255, 0.576);
    border-radius: 10px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    margin-bottom: 8px;
}

.connect-wallet:hover {
    border: 1px solid #ff3f81;
}

.connect-wallet-loading {
    cursor: none;
}
